html {
    height: 100%;
}

.height-100 {
    height: 100%;
}

h1, h2, h3 {
    text-align: center;
}

.rightPanel {
    background: #8bc34a;
}

.content {
    background: #fafafa;
}

td {
    vertical-align: middle !important;
}

#releaseTable {
    margin-bottom: 0;
}

#goalsTable {
    font-size: 32px;
    margin-right: 10px;
}

#goalsTable td {
    padding: 3px 0;
}

#goalsTable td.goalName {
    padding-left: 20px;
}

.goalsRow {
    padding-right: 15px;
}