<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>asf</title>
</head>
<body>
<div th:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-lg-1">#</th>
            <th class="col-lg-6">Goal</th>
            <th class="col-lg-2">Owner(s)</th>
            <th class="col-lg-3">State</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="goal, iterStat : ${@sprintController.getCurrentSprintGoals()}">
            <tr th:attr="data-goal-id=${goal.id.get()}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${goal.name}"></td>
                <td th:text="${goal.owners}"></td>
                <td th:text="${goal.state}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
        goal
    </button>
</div>
</body>
</html>