<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>asf</title>
</head>
<body>
<div th:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Goal</th>
            <th>Assignee</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Finish SafeQ6</td>
            <td>MIV, VPA, VFU</td>
            <td>complete</td>
        </tr>
        <tr>
            <td>Finish SafeQ6</td>
            <td>MIV, VPA, VFU</td>
            <td>complete</td>
        </tr>
        <tr>
            <td>Finish SafeQ6</td>
            <td>MIV, VPA, VFU</td>
            <td>complete</td>
        </tr>
        <tr>
            <td>Finish SafeQ6</td>
            <td>MIV, VPA, VFU</td>
            <td>complete</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
        goal
    </button>
</div>
</body>
</html>