<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
</head>
<body>
<div th:fragment="content">
    <form id="goalsForm">
    <table class="table table-striped" id="goalsTable">
        <thead>
        <tr>
            <th class="col-lg-1">#</th>
            <th class="col-lg-6">Goal</th>
            <th class="col-lg-2">Owner(s)</th>
            <th class="col-lg-1">State</th>
            <th class="col-lg-2">Action</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </form>
    <button type="button" class="btn btn-success" id="addGoal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add goal
    </button>
</div>
</body>
</html>